    <div class="banner">
        <div class="content">
            <h1>EXPLORE YOU LIMITS</h1>
            <p></p>
            <div>
                <a class="buttons-nav" href="/register">
                <button class="signup-btn" type="button"><span class="cover"></span>Registrate</button>
                </a>
                <a class="buttons-nav" href="/login">
                <button class="login-btn" type="button" id="login"><span class="cover"></span>Inicia sesión</button>
                </a>
            </div>
        </div>
    </div>