<div class="banner-productos">
        <div class="navbar">
            <img src="" alt="" class="logo">
        </div>
</div>

<div class="container login">
    
    <form id="login-form" action="/login" method="POST">
        <div class="mb-3"> 
            <label for="exampleInputUsername" class="form-label">Nombre de usuario</label>
            <input type="text" class="form-control" id="exampleInputUsername" name="username">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="btn-reg-log">
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            <button class="btn btn-primary"><a href="/register">Registrate</a></button>
        </div>
        <div>
            <p class="mt-2">¿Olvidaste tu contraseña?<a href="/api/email/request-reset-password">Reestablecer contraseña</a></p>
        </div>
    </form>

    {{#if error}}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    {{/if}}

</div>




<footer>
    {{>footer}}
</footer>


<script>
    setTimeout(() => {
        document.querySelector('.alert-danger').style.display = 'none';
    }, 2000); 
</script>
