<div class="banner-productos">
        <div class="navbar">
            <img src="" alt="" class="logo">
        </div>
</div>

<div class="requetpass">
<form action="/api/email/send-email-to-reset" method="POST">
    <div class="req-password">
        <label for="email" class="ing-email" >Ingresa tu correo electrónico:</label>
        <input type="email" id="email" name="email" class="type-email" required>
        <button class="signup-btn2 btn btn-primary" type="submit">Enviar enlace</button>
    </div>
    
</form>
</div>