<div class="banner-productos">
        <div class="navbar">
            <img src="" alt="" class="logo">
        </div>
</div>
<div class="request-ok">
    <h1>
        ¡Tu solicitud ha sido enviada con éxito! Revisa tu correo electrónico para continuar con el proceso.
    </h1>
</div>
<div>
    <a href="/login" class="btn btn-outline-secondary">Volver a inicio</a>
</div>
