<div class="banner-productos">
  <div class="navbar-short">
    <img src="" alt="" class="logo">
    <ul>
      {{#if user}}
      {{#if user.admin }}
      <li><a href="/realtimeproducts">Panel de Administrador</a></li>
      {{/if}}
      {{/if}}
      <li><a href="/productos">Productos</a></li>
      <li><a href="/cart">Carrito</a></li>
      <li><a href="/chat">Contacto</a></li>
      <li><a href="/my/account">Mi Cuenta</a></li>
      <li><a href="/logOut">LogOut</a></li>
    </ul>
    </div>
  </div>
</div>

