{{>navBar}}
<div class="product-detail">
    <div class="product-img-title">
        <div class="title-detail">
            <h5 class="title">{{this.title}}</h5>
        </div>
        <div class="img-detail">
            <img src="{{this.thumbnail}}" class="image" alt="...">
        </div>
    </div>
    <div class="descriptions-prod">

        <p class="desc-prod">{{this.description}}</p>
        <p class="desc-prod">Precio: ${{this.price}}</p>
    </div>
</div>